.header {
   padding: 14px 20px;
   background: var(--bg-head);
   box-shadow: 0 0 10px rgba(0, 0, 0, .2);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
   z-index: 100;
}

.nav-wrapp {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   width: 45px;
   border-radius: 6px;
   overflow: hidden;

   img {
    display: block;
   }
}

.menu {
   display: flex;

   &__item {
      list-style: none;
      margin-left: 20px;
   }

   &__linck {
      text-decoration: none;
      color: var(--primary-text-color);
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      transition: all .3s;
      outline: none;
   }

   &__linck:hover,
   &__linck:focus,
   &__linck.active {
        color: var(--orange);
    }
}


.top-nav {
   display: none;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   color: var(--primary-text-color);
   height: 50px;
 }

 .menu-burger {
   display: flex;
   flex-direction: row;
   list-style-type: none;
   margin: 0;
   padding: 0;
 }
 
 .menu-burger > li {
   margin: 0 1rem;
   overflow: hidden;
 }

 .menu-button-container {
   display: none;
   height: 100%;
   width: 30px;
   cursor: pointer;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
 #menu-toggle {
   display: none;
 }

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
   content: '';
   margin-top: -8px;
 }
 
 .menu-button::after {
   content: '';
   margin-top: 8px;
 }
 
 #menu-toggle:checked + .menu-button-container .menu-button::before {
   margin-top: 0px;
   transform: rotate(405deg);
 }

 #menu-toggle:checked + .menu-button-container .menu-button {
   background: var(--bg-head);
 }
 
 #menu-toggle:checked + .menu-button-container .menu-button::after {
   margin-top: 0px;
   transform: rotate(-405deg);
 }

 @media (max-width: 760px) {
   .nav-wrapp {
      display: none;
   }

   .top-nav {
      display: flex;
   }

   .menu-button-container {
     display: flex;
   }

   .menu-burger {
     position: absolute;
     top: 0;
     margin-top: 70px;
     left: 0;
     flex-direction: column;
     width: 100%;
     justify-content: center;
     align-items: center;
   }

   #menu-toggle ~ .menu-burger li {
     height: 0;
     margin: 0;
     padding: 0;
     border: 0;
     transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
   }

   #menu-toggle:checked ~ .menu-burger li {
     border: 1px solid #333;
     height: 60px;
     padding: 20px 0;
     transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
   }

   .menu-burger > li {
     display: flex;
     justify-content: center;
     margin: 0;
     padding: 0.5em 0;
     width: 100%;
     color: var(--primary-text-color);
     background: var(--bg-head);
   }

   .menu-burger > li:not(:last-child) {
     border-bottom: 1px solid #444;
   }
 }