.main-header {
   padding: 100px 20px;
   background-image: url('../images/bg/bg1.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 80vh;
}

.offer {
   color: #fff;
   text-align: left;

   &__title {
      font-family: 'Domine', Sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 52px;
      line-height: 68px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      transition: .3s;
  }

  &__sub-title {
   font-family: 'Domine', Sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin-bottom: 20px;
  }

  &__desc {
      font-family: 'Montserrat' sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.05em;
      max-width: 490px;
  }
}